body {
    background-image: url('https://source.unsplash.com/daily?dark');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-size: 3.5em;
    margin: 1%;
}

.container {
    font-family: 'Caveat', sans-serif;
    color: #aae2e9;
    text-align: center;
    padding-left: 5%;
}

#time {
    font-size: 2.5em;
    margin-top: 10%;
    margin-bottom: 0;
}

.todo {
    margin-top: 10px;
}

i:hover {
    cursor: pointer;
}

#todo-input {
    display: inline-block;
    border-bottom: 2px solid #ffffff;
}

#greeting {
    margin: 0 auto;
}

#task {
    margin: 0 auto;
    display: block;
    font-size: inherit;
    width: 50%;
    background: none;
    color: #ffffff;
    border: 0;
    border-bottom: 2px solid #ffffff;
}

input:focus {
    outline: none;
}

span:focus {
    outline: none;
}

input::placeholder {
    color: #ffffff;
    text-align: center;
}

#userName {
    border: 0;
    border-bottom: 2px solid #ffffff;
    width: 5em;
    font-family: inherit;
    font-size: inherit;
    background: none;
    color: #ffffff;
}

#todoItems {
    display: inline-block;
}

.leftPanel{
    position: absolute;
    top: 10%;
    left: -0.5%;
    width: 30%;
    height: 30%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

  p {
    text-align: center;
  }
  .flip-clock-wrapper{
    max-width: 460px;
    margin: 3em auto 2em;
    display: flex;
    justify-content: center;
  }
  .col-md-4{
    display: flex;
    justify-content: center;
  }
  .col-md-2{
    display: flex;
    justify-content: center;
    height: 34px;
    align-items: center;
  }
  .counter{
    display: flex;
    justify-content: center;
  }
  .clock{
    margin-top: 30px;
  }
  .container {
    width: 500px;
  }
  .middle{
      display:inline-block;
  }
  #btns{
    display: flex;
    justify-content: center;
  }
  #stop {
    margin-left: 10px;
    margin-right: 10px;
  }
  .btn {
    background-color: #333333;
    color: #CCCCCC;
  }
  #sessInc, #sessDec, #breakInc, #breakDec {  
    font-weight: bold;
  }
  #stats {
    background-color: #333333;
    width: 220px;
    height: 70px;  
    border-radius: 10px;
    color: #CCCCCC;
    font-size: 45px;
    text-align: center;
  }
  #statRow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
